.row

  .col-md-6
    .jumbotron.calc
      %h2.text-center 
        Expected Income
      .form-group
        %label 
          Amount
        %input.form-control{ placeholder: 'Amount' }
      %button.btn.btn-primary
        Calculate
  
  .col-md-6
    .jumbotron.calc
      %h2.text-center
        Actual Income
      .list-group
        - @credits.each do |credit| 
          = link_to credit.to_s, root_path(credit_id: credit.id), class: 'list-group-item'
      - if @income_view

        %h3
          Credit:
          %small
            = @income_view.credit

        %h3
          Paid Out Main Debt:
          %small
            = @income_view.main_debt_payments
            
        %h3
          Paid out:
          %small
            = @income_view.payments_of_interest

        %h3
          Actual Income %:
          %small
            = @income_view.real_income
        


