= simple_form_for(@payment) do |f|
  = f.error_notification

  .form-inputs
    = f.association :credit, collection: Credit.includes(:debtor)
    = f.input :amount
    = f.input :date

  .form-actions
    = f.button :submit
