%p#notice= notice

%p
  %b Credit:
  = @payment.credit
%p
  %b Amount:
  = @payment.amount
%p
  %b Date:
  = @payment.date

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
